In [1]:
import pandas as pd
import numpy as np

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
downloaded = drive.CreateFile({'id':"1BmDteuG1ElhPjVM31qrbGi6vf7Ox7qsC"})
downloaded.GetContentFile('transactions.csv')
transactions = pd.read_csv('transactions.csv', sep = ',', nrows = 1000000)

In [3]:
downloaded = drive.CreateFile({'id':"1OgSIFVhsVi4DIdTrwFtlFFpcsrYQl7Fb"})
downloaded.GetContentFile('gender_train.csv')
gender_train = pd.read_csv('gender_train.csv', sep = ',')
downloaded = drive.CreateFile({'id':"1htxcOA672VXbI9CEHjmG5Eo-TSSPZtWF"})
downloaded.GetContentFile('tr_mcc_codes.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep = ';')
downloaded = drive.CreateFile({'id':"1mggZnV-cpHVBzaXfeUZjpVpCb3A77nJw"})
downloaded.GetContentFile('tr_types.csv')
tr_types = pd.read_csv('tr_types.csv', sep = ';')

In [4]:
 for i in downloaded: del (i)

In [5]:
# проверим верность загрузки датасетов
transactions

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
1          39026145    1 10:19:29      6011     7010  56147.89       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 6 columns]

In [6]:
gender_train.head()

   customer_id  gender
0     10928546       1
1     69348468       1
2     61009479       0
3     74045822       0
4     27979606       1

In [7]:
tr_mcc_codes.tail(3)

     mcc_code                                    mcc_description
181      9311                                  Налоговые платежи
182      9399  Правительственные услуги, нигде ранее не класс...
183      9402             Почтовые услуги — только правительство

In [8]:
tr_types.describe

<bound method NDFrame.describe of      tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]>

In [9]:
print(tr_types.shape, transactions.shape)

(155, 2) (1000000, 6)

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
# 1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
chose_1000_tr_type = transactions.tr_type.sample(1000)
chose_1000_tr_type

573673    2010
236094    1030
400995    7070
246665    1110
136125    1030
          ...
764366    2010
354815    1010
12013     1010
987582    1010
497676    2010
Name: tr_type, Length: 1000, dtype: int64

In [ ]:
# Визуализируем получающийся при выполнении методов результат
illustrate_df = pd.merge(chose_1000_tr_type, tr_types)
illustrate_df['if_contains'] = illustrate_df.tr_description.str.contains('POS|АТМ')
illustrate_df.drop_duplicates()
#illustrate_df.sort_values(by='tr_type')

     tr_type                                     tr_description  if_contains
0       2010              Выдача наличных в АТМ Сбербанк России         True
145     1030                     Оплата услуги. Банкоматы СБ РФ        False
269     7070  Перевод на карту (с карты) через Мобильный бан...        False
417     1110                             Покупка. POS ТУ Россия         True
548     1010                              Покупка. POS ТУ СБ РФ         True
794     2370  Списание с карты на карту по операции <перевод...        False
853     4051  Плата за перевод на карту (с карты) через АТМ ...         True
857     7010       Взнос наличных через АТМ (в своем тер.банке)         True
892     4010        Плата за получение наличных в АТМ Сбербанка         True
895     2110                             Наличные.   АТМ Россия         True
898     7071  Перевод на карту (с карты) через Мобильный бан...        False
912     7030  Перевод на карту (с карты) через АТМ (в предел...         True
931     1200                               Покупка. Зарубеж. ТУ        False
939     1100                                Покупка. ТУ  Россия        False
953     2330  Списание с карты по операции “перевода с карты...         True
964     4110          Плата за получение наличных в АТМ. Россия         True
968     2011      Выдача наличных в АТМ Сбербанка (в других ТБ)         True
971     2331  Списание с карты по операции “перевода с карты...         True
973     6110                     Возврат покупки. POS ТУ Россия         True
975     2371  Списание с карты на карту по операции <перевод...        False
980     1210                          Покупка. POS  Зарубеж. ТУ         True
986     7021                           Взнос наличных через POS         True
988     7011                           Взнос наличных через АТМ         True
989     7020                           Взнос наличных через POS         True
991     4071  Плата за перевод на карту (с карты) через Моби...        False
993     1410                                                н/д        False
994     7031  Перевод на карту (с карты) через АТМ (из одног...         True
995     7074  Перевод с карты на карту в овердрафте через Мо...        False
996     2320     Безналичный перевод денежных средств через POS         True
997     4011  Плата за получение наличных в АТМ Сбербанка (в...         True
998     2210                       Наличные.  АТМ Зарубеж. банк         True

In [ ]:
# В полученной на предыдущем этапе подвыборке chose_1000_tr_type
# найдите долю транзакций (стобец tr_description в датасете tr_types - merge), 
# в которой содержится подстрока 'POS' или 'ATM'

#tr_types.sort_values(by='tr_type')
#tr_types.drop(['if_contains'], axis='columns', inplace=True)
#tr_types
#tr_types.tr_description.str.contains('POS|АТМ').sum() / len(tr_types)
#pd.merge(chose_1000_tr_type, tr_types)
pd.merge(chose_1000_tr_type, tr_types).tr_description.str.contains('POS|АТМ').sum() / len(chose_1000_tr_type)

0.623

## Задание 2

1. Для столюца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости.

In [ ]:
print(transactions.tr_type.unique(),
transactions.tr_type.nunique())

[1030 7010 2330 1010 2010 7020 1110 6110 7014 1100 2020 2370 7070 7030
 7071 2331 4051 6010 2011 4011 4010 2320 2371 4071 4110 2110 2460 1200
 2440 4090 1210 7021 7031 6200 6100 7074 4041 4210 2210 7011 4021 2021
 7040 2340 4031 7034 7035 1410 1310 2456 4097 6000 2100 4100 4500 4061
 2341 7024 4020 8145 1510 7075 4200 2200 7041 1000 7015 8146 6210 2446
 4096 8100] 72

In [ ]:
#len(transactions.tr_type.unique())
#transactions.groupby(by='tr_type').count()
#transactions.groupby(by='tr_type').count().sort_values(by='customer_id', ascending=False)[:10] #кажется неверным
#transactions.sort_values(by='tr_type').tr_type.value_counts()[:10]
top_of_occurrence_transactions = transactions['tr_type'].value_counts()[:10]
#top_of_occurrence_transactions = top_of_occurrence_transactions / transactions.shape[0] * 100
top_of_occurrence_transactions

1010    231117
2010    151166
7070    149006
1110    137658
1030    118975
2370     49830
7010     28972
7030     26078
7071     15781
1100     15476
Name: tr_type, dtype: int64

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите разницу для этих клиентов между суммой расходов и суммой приходов

In [ ]:
# Вычислим сумму по пользователям для проверки работы группировки
df = transactions.groupby(by='customer_id', sort=True).sum().sort_values(by='amount', ascending=False).amount
df

customer_id
95481247    5.050888e+07
82235884    3.099943e+07
35497384    2.794522e+07
14937933    2.711242e+07
72908719    2.687120e+07
                ...
40917212   -1.798514e+08
42863380   -2.004481e+08
19950741   -5.626338e+08
6898820    -7.342493e+08
54871257   -8.010260e+08
Name: amount, Length: 1892, dtype: float64

In [ ]:
# Проверям простейший вариант без группировки на безошибочность 
#работы запроса выбора максимального и его индекса
print(transactions.groupby(by='customer_id').amount.sum().max(), 
 transactions.groupby(by='customer_id', sort=True).sum().amount.idxmax(),
 '\n', df.max(), df.idxmax())

50508877.699999906 95481247
 50508877.699999906 95481247

In [ ]:
# Пример аггрегации с мультииндексом для столбцов
df = transactions.groupby(by='customer_id').agg({'amount':[('max_value', np.max),
                                                       ('min_value','min')]})
df.head(3)

                amount
             max_value  min_value
customer_id
115617       786070.52 -718693.05
117556       137000.86 -291969.05
127946         -505.33 -152722.27

In [ ]:
print(len(df[df >= 0]), len(df[df < 0]))

1892 1892

In [ ]:
# Вариант 1
# переназначение df
df = transactions[['customer_id', 'amount']].copy()
df['receipt'] = df[df.amount >=0].amount
df['expenditure'] = df[df.amount <0].amount
df = df.groupby(by='customer_id', sort=True).sum()
# возможно ли выше написанный результат получить функцией в одну строку?
pd.DataFrame({'customer_id': [df.receipt.idxmax(), df.expenditure.idxmin()],
              'amount': [df.receipt.max(), df.expenditure.min()]},
             index = ['receipt', 'expenditure']
             )

             customer_id        amount
receipt         70780820  1.248115e+09
expenditure     70780820 -1.249952e+09

In [ ]:
'''
pd.DataFrame({'customer_id': [df[df >=0].idxmax(), df[df < 0].idxmin()],
              'amount': [df[df >=0].max(), df[df < 0].min()]},
             index = ['receipt', 'expenditure']
             )'''

"\npd.DataFrame({'customer_id': [df[df >=0].idxmax(), df[df < 0].idxmin()],\n              'amount': [df[df >=0].max(), df[df < 0].min()]},\n             index = ['receipt', 'expenditure']\n             )"

In [ ]:
# Вариант 2 объединяем группированные по пользователю столбцы прихода, расхода, разности
# на выходе максимумы и минимумы соответсвенно каждого

df = pd.merge(transactions[transactions.amount >=0].groupby(by='customer_id', sort=True).sum(), 
         transactions[transactions.amount <0].groupby(by='customer_id', sort=True).sum(), 
         on='customer_id',
         suffixes=('_receipt', '_expenditure'))[['amount_receipt', 'amount_expenditure']]
#df['diff'] = df.amount_receipt + df.amount_expenditure
#df.idxmax()
df['diff'] = df.amount_receipt - np.abs(df.amount_expenditure)
print(df.max(), '\n', df.min())

amount_receipt        1.248115e+09
amount_expenditure   -1.122958e+04
diff                  5.050888e+07
dtype: float64
 amount_receipt        1.123000e+01
amount_expenditure   -1.249952e+09
diff                 -8.010260e+08
dtype: float64

In [ ]:
# представим те же значения в виде датафрейма
pd.DataFrame({'customer_id': [df.amount_receipt.idxmax(), df.amount_expenditure.idxmin(), df['diff'].idxmax(), df['diff'].idxmin()],
              'amount': [df.amount_receipt.max(), df.amount_expenditure.min(), df['diff'].max(), df['diff'].min()]},
             index = ['receipt', 'expenditure', 'diff_max', 'diff_min']
             )

             customer_id        amount
receipt         70780820  1.248115e+09
expenditure     70780820 -1.249952e+09
diff_max        95481247  5.050888e+07
diff_min        54871257 -8.010260e+08

In [ ]:
# Вариант 3 аггрегация + nlargest/ nsmallest
print(transactions[transactions.amount >=0].groupby(by='customer_id', sort=True).amount.agg('sum').nlargest(1), '\n', 
      transactions[transactions.amount < 0].groupby(by='customer_id', sort=True).amount.agg('sum').nsmallest(1), '\n',
      transactions.groupby(by='customer_id').amount.agg('sum').nlargest(1), '\n',
      transactions.groupby(by='customer_id').amount.agg('sum').nsmallest(1))

customer_id
70780820    1.248115e+09
Name: amount, dtype: float64
 customer_id
70780820   -1.249952e+09
Name: amount, dtype: float64
 customer_id
95481247    50508877.7
Name: amount, dtype: float64
 customer_id
54871257   -8.010260e+08
Name: amount, dtype: float64

## Задание 4
1. Найдите среднее арифметическое и медиану по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по всем типам транзакций для клиентов из задания 3

In [ ]:
# 1. находим список индексов с наибольшим значением
# 2. отбираем значения в таблице по индексам типов транзакций
# 3. подсчитываем среднее и медиану
#top_of_occurrence_transactions.groupby(level=0).agg(['mean', 'median'])
# transactions.tr_type.groupby(transactions.tr_type).size().nlargest(10).index
transactions[transactions.tr_type.isin(transactions.tr_type.groupby(transactions.tr_type).size().nlargest(10).index)].groupby(['tr_type'])['amount'].agg(['mean', 'median'])

                  mean     median
tr_type
1010     -19784.748640   -7411.52
1030      -5320.980222   -2245.92
1100     -44061.827262  -10188.26
1110     -32119.330371  -11207.57
2010    -136077.629325  -44918.32
2370    -205418.249032  -44918.32
7010     276391.789596  112295.79
7030      86104.332909   13951.52
7070      65569.831700   11319.42
7071      66806.826623    3593.47

In [ ]:
# используем запрос варианта реализации 2 из 3 вопроса
df = transactions[['customer_id', 'amount']].copy()
df['receipt'] = df[df.amount >=0].amount
df['expenditure'] = df[df.amount <0].amount
df = df.groupby(by='customer_id', sort=True).sum()
customers_id = pd.DataFrame({'customer_id': [df.receipt.idxmax(), df['amount'].idxmax()],
              'amount': [df.receipt.max(), df['amount'].max()]},
             index = ['receipt', 'diff_max']
             )
transactions[transactions.customer_id.isin(customers_id.customer_id)].groupby(['customer_id', 'tr_type']).amount.agg(['mean', 'median'])

                             mean       median
customer_id tr_type
70780820    2010    -2.941056e+06 -3368873.660
            2330    -2.382398e+06 -2245915.770
            2370    -2.218505e+06 -2245915.770
            6110     1.756293e+04    10028.010
            7020     1.465129e+04    10319.985
            7021     2.850067e+04    28500.670
            7030     1.406196e+04     8848.910
            7031     1.921036e+04    12992.620
            7034     1.430648e+04    14306.480
            7040     2.153833e+04    14396.320
            7070     1.384821e+04     8714.150
            7071     1.860057e+04    12543.440
            7074     2.281159e+04     9387.930
95481247    1010    -4.257072e+04   -14901.655
            1030    -6.446933e+03    -2245.920
            1100    -1.550802e+04   -12105.490
            1110    -3.914070e+04   -27751.880
            1200    -7.244027e+03    -5832.645
            2010    -2.464893e+05  -179673.260
            2330    -6.737747e+04   -67377.470
            2370    -1.786905e+05   -67377.470
            2371    -1.347550e+05  -134754.950
            4041    -8.590633e+02     -892.750
            4071    -1.347550e+03    -1347.550
            6110     1.834913e+04    18349.130
            6200     6.957510e+03     7137.630
            7010     8.922411e+05   673774.730
            7020     5.109458e+04    59516.765
            7021     1.195950e+05   126894.245
            7030     1.199069e+05    94328.460
            7031     1.920258e+05    97697.340
            7070     1.933949e+05    85344.800
            7071     1.936340e+05    58393.810

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [10]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

In [11]:
 for i in tr_types: del (i)
 for i in tr_mcc_codes: del (i)
 for i in gender_train: del (i)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
expenses = transactions[transactions.amount < 0]
print('Модуль разницы средних трат женщин и мужчин: ',
      np.abs(
          np.abs(expenses[expenses.gender > 0].amount.mean()) - \
          np.abs(expenses[expenses.gender < 1].amount.mean())
      )
)

Модуль разницы средних трат женщин и мужчин:  32718.05492021877

In [ ]:
imcomes = transactions[transactions.amount > 0]
print('Модуль разницы средних поступлений женщин и мужчин: ',
      np.abs(
          np.abs(imcomes[imcomes.gender > 0].amount.mean()) - \
          np.abs(imcomes[imcomes.gender < 1].amount.mean())
      )
)

Модуль разницы средних поступлений женщин и мужчин:  63366.57104801515

In [ ]:
 for i in expenses: del (i)
 for i in imcomes: del (i)

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". 
2. Выделите среди них те, которые встречаются одновременно и у мужчин, и у женщин

In [ ]:
incomes = transactions[transactions.amount > 0]
max_income_g1 = pd.DataFrame(incomes[incomes.gender > 0].groupby(by='tr_type').amount.max().nsmallest(10))
max_income_g0 = pd.DataFrame(incomes[incomes.gender < 1].groupby(by='tr_type').amount.max().nsmallest(10))
#print(max_income_g1, max_income_g0)
max_income = max_income_g1.merge(max_income_g0, how='outer', on='tr_type', suffixes=['_1', '_0'])
for i in incomes: del (i)
for i in max_income_g1: del (i)
for i in max_income_g0: del (i)
max_income

          amount_1  amount_0
tr_type
2020       2245.92       NaN
4110       2245.92   2245.92
1010      28803.87  24839.83
8100      64682.37       NaN
6000      79280.83       NaN
7041      87590.72       NaN
2010      89836.63  44918.32
2110     112295.79  22459.16
2370     113194.15   2335.75
7015     121279.45       NaN
4051           NaN   1122.96
4210           NaN   2245.92
4100           NaN   5041.86
7075           NaN   6737.75
2210           NaN  68315.82

In [ ]:
max_income.dropna()

          amount_1  amount_0
tr_type
4110       2245.92   2245.92
1010      28803.87  24839.83
2010      89836.63  44918.32
2110     112295.79  22459.16
2370     113194.15   2335.75

In [ ]:
for i in max_income: del (i)

## Задание 7

1. Найдите суммы затрат по каждой категории для мужчин и для женщин. 
2. Найдите топ 5 категорий с самыми большими относительными модулями разности для в тратах для разных полов.

In [ ]:
# что считаем категорией?

In [17]:
df = transactions[transactions.amount < 0].groupby(['gender', 'mcc_code']).amount.sum().unstack().T
designation = transactions[['mcc_code', 'mcc_description']].drop_duplicates()
df = df.rename(columns={ df.columns[0]: "gender_0", df.columns[1]: "gender_1" }).fillna(0)
df['diff'] = np.abs(df.gender_0 - df.gender_1)
#df = df.merge(designation, on='mcc_code')[['mcc_code',1,0,'mcc_description']]
df = df.merge(designation, on='mcc_code')
df

     mcc_code  ...                                    mcc_description
0         742  ...                                Ветеринарные услуги
1        1711  ...  Генеральные подрядчики по вентиляции, теплосна...
2        1799  ...  Подрядчики, специализированная торговля — нигд...
3        2741  ...           Разнообразные издательства/печатное дело
4        3000  ...                            Авиалинии, авиакомпании
..        ...  ...                                                ...
176      5967  ...          Прямой маркетинг — входящий телемаркетинг
177      7338  ...                       Услуги копировальных центров
178      7512  ...                                 Прокат автомобилей
179      7829  ...            Производство и дистрибуция видеофильмов
180      9402  ...             Почтовые услуги — только правительство

[181 rows x 5 columns]

In [30]:
df[df.gender_0 == 0].max()

mcc_code                                   9402
gender_0                                      0
gender_1                               -4581.67
diff                                4.21794e+06
mcc_description    Услуги копировальных центров
dtype: object

In [29]:
df[df.gender_1 == 0].max()

NameError: ignored

In [ ]:
for i in designation: del (i)

In [ ]:
df.nlargest(n=5, columns='diff')

     mcc_code  ...                                    mcc_description
121      6011  ...  Финансовые институты — снятие наличности автом...
21       4829  ...                                  Денежные переводы
120      6010  ...   Финансовые институты — снятие наличности вручную
64       5541  ...                            Станции техобслуживания
61       5511  ...  Легковой и грузовой транспорт — продажа, серви...

[5 rows x 5 columns]

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте ночные поступления для мужчин и женщин. Ночные - это примерно 00-06 часов.

In [ ]:
# посчитать сумму поступлений?

In [ ]:
df = transactions.copy()
#df['tr_hour'] = transactions.tr_datetime.str[-8:-6].astype('int64')
df['tr_hour'] = transactions.tr_datetime.str.split(' |:').str.get(1).astype('int64')
#type(df.mcc_code[0])
df[((df.tr_hour <= 6) & (df.amount >= 0))].groupby('gender').amount.sum()

gender
0.0    5.806437e+08
1.0    9.226917e+08
Name: amount, dtype: float64